/** {
    outline: 1px solid red !important;
}*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: black;
}

input {
    background: grey;
    font-size: 18px;
}

form {
    display: inline-block;
}

.centered {
    text-align: center;
}

#pizzaSize {
    font-weight: 800;
}

.mover {
    position: fixed;
    height: 94px;
    width: 73px;
    z-index: -1;
    transform: translateZ(0);
    will-change: left;
}

/*default width*/
.randomPizzaContainer {
    float: left;
    display: flex;
    width: 33.3%;
}

.wide25 .randomPizzaContainer {
    width: 25%;
}

.wide33 .randomPizzaContainer {
    width: 33.3%; 
}

.wide50 .randomPizzaContainer {
    width: 50%;
}

.randomPizzaContainer:after {
    content: "";
    display: table;
    clear:both;
}

 .container {
    background-color: rgba(240, 60, 60, 0.8);
}